colorama==0.4.6
coverage==7.9.1
iniconfig==2.1.0
packaging==25.0
pillow==10.2.0
pluggy==1.6.0
Pygments==2.19.2
pypng==0.20220715.0
pytest==8.4.1
pytest-cov==6.2.1
python-dotenv==1.0.1
qrcode==7.4.2
typing_extensions==4.10.0
validators==0.23.2
